
<div class="calc-input-interest-rate">

  <label class="font-sm" tabindex="-100">
    {{field.label}}
    <popover ng-show="field.tooltip">
      <button
        class="fa fa-question-circle font-md font-grey-medium-light _no-border"
            data-toggle="popover"  data-trigger="focus"
        data-placement="top"
        data-trigger="focus"
        data-html="true"
        data-content="{{field.tooltip}}" tabindex="-100">
      </button>
    </popover>
  </label>
  <div ng-show="{{field.id==='life_expectancy'}}" class="calc-input-fieldset">
    <label class="font-sm" style="font-weight:lighter;">
      The average life expectancy is 91 for males and 94 for females.
    </label>
  </div>
  <div class="input-group form-inline-addon form-addon-years">
    <input type="text"
           no-commas
           id="{{field.id}}"
           autocomplete="off"
           class="form-control font-md"
           data-related="{{field.related}}"
           ng-model="model.$attributes[field.calcModel]"
           ng-model-options="{updateOn: 'blur', getterSetter: true }"
           allow-decimal="true"
           autocomplete="off"
           maxlength="10"
           ng-enter="doBlur($event)">
  </div>

  <a ng-if="field.link" ng-href="{{field.link.url}}" class="font-xx" tabindex="-99" target="_blank">{{field.link.text}}</a>
</div>
