<div class="legend-container row font-sm">
  <div class="col-xs-12">
    <ul class="_inline-list legend-list">
      <li class="legend-item">
        <span class="legend-square _inline-block" ng-style="{'background-color': models.howClose.graphic.super.color}"></span><span class="legend-label">NZ Super</span>
      </li>
      <li class="legend-item">
        <span class="legend-square _inline-block" ng-style="{'background-color': models.howClose.graphic.kiwiSaver.color}"></span><span class="legend-label">KiwiSaver</span>
      </li>
      <li class="legend-item">
        <span class="legend-square _inline-block" ng-style="{'background-color': models.howClose.graphic.otherLump.color}"></span><span class="legend-label">Other Savings</span>
      </li>
      <li class="legend-item">
        <span class="legend-square _inline-block" ng-style="{'background-color': models.howClose.graphic.otherIncome.color}"></span><span class="legend-label">Other Income</span>
      </li>
    </ul>
  </div>
</div>

<div class="calc-stacked-chart"></div>
