$icomoon-font-path: "#{$budget-tool-assets-path}/assets/fonts/" !default;

$icon-stop: "\e900";
$icon-trash-o: "\f014";
$icon-chevron-left2: "\f055";
$icon-chevron-right2: "\f056";
$icon-chevron-up: "\f077";
$icon-chevron-down: "\f078";
$icon-trash: "\f1f8";
$icon-chevron-left: "\f053";
$icon-chevron-right: "\f054";

