.personality-output-image {
  padding: 0 50px;
}

.personality-output-title {
  margin-bottom: 20px;
}

.personality-output-accordion {
  padding-top: 40px;
}

.personality-output-content {
  margin-top: 40px;
}
