

.goal-result-page{
    margin-bottom: 20px;
  .social-and-fonts{
    margin-bottom: 20px;
  }

  .back-link{
    margin-top: 20px;
    margin-bottom: 30px;
    a{
      color: $black;

    }
    span{
      color: #FF4B05;
    }
  }





}

.result-collapse{
  padding: 0 !important;
  margin-bottom: 30px;

  .link-part:nth-of-type(1){
    .arrow-list{
      border-bottom: 2px dotted grey;
      margin-bottom: 40px;
    }
  }

  .result-collapse-button{
    background: #4dddbf;
    border: none;
    display: block;
    width:100%;
    height:40px;
    line-height: 40px;
    padding: 0 0 0 20px;
    text-align: left;
    font-weight:bold;

  }

  .collapse-container{
    padding-top: 20px;
    padding-bottom: 30px;
    background: rgba(32,212,175,.15);
  }


  .goal-bubble{
    position: relative;
    padding: 50% !important;
    border-radius: 100%;
    margin: 5px 0;

    &.color-1{
      background: #ffd700;
      border: 2px solid #ffd700;


    }
    &.color-2{
      background: #e18cc8;
      border: 2px solid #e18cc8;

    }
    &.color-3{
      background: #ce0058;
      border: 2px solid #ce0058;

    }
    &.color-4{
      background:  #00afff;
      border: 2px solid #00afff;

    }
    &.color-5{
      background: #704c99;
      border: 2px solid #704c99;

    }
    &.color-6{
      background: #cadc3c;
      border: 2px solid #cadc3c;

    }
    &.color-7{
      background: #006e96;
      border: 2px solid #006e96;

    }

    &.ui-draggable-dragging{
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, .5);
    }


    .goal-content{
      position: absolute;
      left:0;
      top:0;
      width:100%;
      height: 100%;
      color:#1E1E1E !important;
      p{
        font-size: 11px;
        line-height: 1.1;
        text-align: center;
        margin-top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }
}
