

//Iphone 5 and below
@media only screen and (max-width: 321px) {
  budget-preset,.preview-style-container{
    margin:0 5px;
  }
}

/* Mobile Portrait */
@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation: portrait) {

    budget-preset,.preview-style-container{
      display:inline-block;
      width: 45%;
    }

    .preset-icon {
      transform: translateX(-50%);
      left: 50%;
      margin:0 0 5px !important;
    }

    .preset-container{
      max-width:320px;
    }

}
budget-view-plate{
  .preset-container{
    width:100%;

  }
}


budget-preset,.preview-style-container{
  display: inline-block;
}


.preset-container {
  margin: 0 auto;
  display: table;
}

budgeting-questions {
  a.font-orange {
    cursor: pointer;
  }

  .preset-icon {
    border: 1px #d9d9d6 solid;
    border-radius: 4px;
    padding: 10px 10px;
    margin:5px 5px;
    text-align: center;
  }

  .preset-caption {
    margin-top: 5px;
  }



  .preset-selected {
    border: none;
    &.preview-style{
      background: #f0c3cb;
    }

    .preset-image {
      top: 0px;
    }
  }

  .budget-template-question {
    margin: 10px 0 20px 0;
  }

  .preset-image-container {
    height: 75px;
    width: 75px;
    overflow: hidden;
    position: relative;
    img{
      width:75px;
      height:150px;
    }
  }

  .preset-image{
    position: absolute;
    top: -75px;
    left: 0px;
  }

  .preset-image:hover {
    top: 0px;
  }

  .preset-icon {
    width: 130px;
    height: 150px;
    max-width: 130px;
    max-height: 150px;
    display: inline-block;
    font-size: 12px;
  }

  form {
    border-top: 2px dotted #888b8d;
    margin-top: 20px;
    padding-top: 20px;
  }

  .budget-skip-link {
    margin: 10px 0;
    text-align: center;
  }

  .budget-skip-link-top {
    margin: 0;
    text-align: center;

    @media (min-width: $screen-md-min) {
      text-align: right;
    }
  }

  @media(min-width: $screen-md-min) {
    .budget-skip-link {
      margin: 45px 0;
      text-align: right;
    }
  }
}
