<div class="row">

  <div class="col-xs-12">
    <ol class="saf-list fonts">

      <li ng-click="decrease()" analytics-on="click" analytics-event="out" analytics-category="zoom" analytics-interaction-type="0" class="bubbles"><img ng-src="{{siteConfig.APP_PATH}}assets/images/icon-font-decrease.svg" alt=""></li>
      <li ng-click="increase()" analytics-on="click" analytics-event="in" analytics-category="zoom" analytics-interaction-type="0" class="bubbles"><img ng-src="{{siteConfig.APP_PATH}}assets/images/icon-font-increase.svg" alt=""></li>
    </ol>
  </div>
</div>

