.admin-header.layout-header-small{
  height: 150px;
  .header-background,.header-small-opacity{
    height: 150px;
  }
}




.forget-pass-title{
  margin:  0 0 40px 0;
}
.forget-pass-text{
  margin-bottom: 65px;
}


.user-email-text{
  margin: 0 0 40px 0;
}


.note{
  background: $grey-lightest;
  padding: 30px 60px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 100px;
}


#MemberLoginForm_LostPasswordForm,#ChangePasswordForm_ChangePasswordForm{
  width: 370px;
  margin:0 auto;
  margin-bottom: 40px;
  #MemberLoginForm_LostPasswordForm_Email{
    margin-bottom: 50px;
  }
  .field{
    width:100%;
  }

  .Actions{
    text-align: center;
    padding:0;
    input[type='submit']{
      width: 238px;
    }

  }
  .middleColumn{
    position: relative;
  }
}

.thank-message{
  margin-bottom: 290px;
}

.change-pass{
  max-width: 450px;
  margin: 0 auto 60px;
}

.login-title{
  max-width: 370px;
  margin: 0 auto 60px;
}
form#MemberLoginForm_LoginForm{
  max-width:370px;
  margin: 0 auto 60px;

  .field{
    position: relative;
    width: 100%;
    #MemberLoginForm_LoginForm_Password{
      margin-bottom: 0;
    }
    &.checkbox{
      line-height: 1;
      margin-bottom: 55px;
      .checkbox{
        width:auto;
        margin: 0;
        height:auto;
        line-height: inherit;
      }
      label{
        line-height: inherit;
        padding-left: 10px;
      }

    }

  }
  a{
    line-height: 1;
    font-size: $font-xs;


  }

  .Actions{
    padding: 0;
    div[class*='col-']{
      padding: 0;
      input{
        margin-bottom: 20px;
        max-width: 100%;
      }
    }

  }

}


input.error,select.error{
  @extend .form-input-error;
}

label.error{
  @extend .form-error;
  width:100%;
  bottom: 10px;
  left:0;
  top: 80px;
  &:after{
    content: '';
    display: none;
  }
}


#conditions-error{
  bottom: -15px;
  left: 20px;
}

#ChangePasswordForm_ChangePasswordForm_error{
  @extend .password-error;
}

.password-error{
  @extend .font-xx;
  color: $red;
  position: relative;
  margin: 0;
}

.password-meter{
  margin: -25px 0 15px 0;
  line-height: 1;
}

.password-bullet{
  width:20px;
  height:10px;
  border-radius: 3px;
  border: 1px solid $black;
  display: inline-block;
  margin-right: 3px;
  &.red{
    background: red;
    border: 1px solid red;
  }
  &.green{
    background: green;
    border: 1px solid green;
  }
  &.yellow{
    background: yellow;
    border: 1px solid  yellow;
  }
}


#ChangePasswordForm_ChangePasswordForm_action_doChangePassword{
  width:260px;
}


#MemberLoginForm_LostPasswordForm_Email_Holder{
  padding: 0;
}


.note-dash{
  border-radius: 5px;
  padding: 30px 60px;
  background: #f5f5f5;
  margin: 30px 0 200px 0;
}

.go-dashboard{
  margin-bottom: 30%;
}
