.quiz-options {
  margin-top: 20px;
  position: relative;
}

.quiz-options-input {
  width: 30px;
  height: 16px;
  position: absolute;
  top: 1px;
}

.quiz-options-label {
  @include calc('width', '100% - 40px');
  position: relative;
  left: 40px;
}

.calc-input-heading {
  .quiz-title-tick {
    .fa {
      margin-right: 0;
    }
  }
}

