<div class="bg-grey-lightest sidebar-container related hidden-xs hidden-sm">
  <h4 class="sidebar-heading font-light _align-center-xs-max">Related</h4>
  <div class="row" ng-repeat="(i,link) in relatedLinks">
    <div class="col-sm-6 col-md-12 layout-col _no-float-md-above">
      <a class="sidebar-link _block _clear link-black-orange"  target="_self" ng-href="{{link.Url}}">
        <span class="sidebar-text _left _block">
          <div class="sidebar-link-container _relative">
            <div class="sidebar-text-table" vert-middle="sidebar-text-cell">
              <div class="sidebar-text-cell font-sm">
                {{link.Title}}
              </div>
            </div>
          </div>
        </span>
      </a>
    </div>
    <div ng-hide="i === relatedLinks.length-1" class="layout-divider-dashed sidebar-divider hidden-sm"></div>
  </div>
</div>

