<navigation></navigation>

<div header="headerHome" class="layout-header"></div>

<div class="layout-container">
    <div class="row">
        <div class="col-xs-12">
            <div class="layout-divider"></div>
        </div>
    </div>
</div>

<div class="layout-container">
    <div class="row">
        <div class="col-xs-12">
            <p class="font-orange">HEADINGS</p>
            <h1 class="font-h1">Header 1 - Gotham Book 50px/60px (#1e1e1e)</h1>
            <h2 class="font-h2">Header 2 - Gotham Book 36px/48px (#1e1e1e)</h2>
            <h3 class="font-h3">Header 3 - Gotham Medium 28px/36px (#1e1e1e)</h3>
            <h4 class="font-h4">Header 4 - Gotham Book 24px/32px (#1e1e1e)</h4>
            <h5 class="font-h5">Header 5 - Gotham Medium 18px/22px (#1e1e1e)</h5>
            <h6 class="font-h6">Header 6 - Gotham Book 16px/20px (#1e1e1e)</h6>
        </div>
    </div>
</div>

<div class="layout-container">
    <div class="row">
        <div class="col-xs-12">
            <div class="layout-divider"></div>
        </div>
    </div>
</div>

<div class="layout-container">
    <div class="row">
        <div class="col-xs-12">
            <p class="font-orange">BODY COPY</p>
            <p class="font-md">Collaboratively administrate empowered markets via <a href="">plug-and-play networks</a>. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
                Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
                Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one <a href="">customer service</a> with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
            </div>
        </div>
    </div>

    <div class="layout-container">
        <div class="row">
            <div class="col-xs-12">
                <div class="layout-divider"></div>
            </div>
        </div>
    </div>

    <div class="layout-container">
        <div class="row">
            <div class="col-xs-12">
                <p class="font-orange">BLOCK QUOTE</p>
                <p class="blockquote font-bq">Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.</p>
            </div>
        </div>
    </div>

    <div class="layout-container">
        <div class="row">
            <div class="col-xs-12">
                <div class="layout-divider"></div>
            </div>
        </div>
    </div>

    <div class="layout-container">
        <div class="row">
            <div class="col-md-6">
                <p class="font-orange">FORM</p>
                <form class="form-horizontal">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><span class="form-icon">@</span></span>
                        <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2"><span class="fa fa-key form-icon"></span></span>
                        <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon2">
                    </div>
                    <div class="input-group">
                        <input type="checkbox"> Remember me
                    </div>
                    <div class="input-group">
                        <select class="form-control form-select">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-small">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div class="layout-container">
        <div class="row">
            <div class="col-xs-12">
                <div class="layout-divider"></div>
            </div>
        </div>
    </div>

    <div class="layout-container">
        <div class="row">
            <div class="col-xs-12">
                <p class="font-orange">BUTTONS</p>
                <p>
                    <button class="btn btn-primary">Gotham medium 16px</button>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>
                    <button class="btn btn-primary btn-small">Small</button>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>
                    <a href="#" class="ui-link hvr-wobble-horizontal">Gotham Medium 16px <span class="fa fa-chevron-right font-xs"></span></a>
                </p>
            </div>
        </div>
    </div>

    <div class="layout-container">
        <div class="row">
            <div class="col-xs-12">
                <div class="layout-divider"></div>
            </div>
        </div>
    </div>

    <div class="layout-container articles-container">
        <div class="layout-content">
            <div class="row">
                <div class="col-xs-12">
                    <p class="font-orange">MUST READS</p>
                </div>
            </div>
            <div class="row">
                <div class="layout-row">
                    <div class="col-md-4 col-sm-6 col-xs-12 articles-column" data-index="0">

                        <div class="articles-info _clear" vert-middle="must-reads-info-text" vert-middle-relative="ui-circle">
                            <div class="ui-circle bg-fuschia _left">
                                <div class="ui-circle-inner">
                                    <div class="articles-day">17</div>
                                    <div class="articles-month">Mar 15</div>
                                </div>
                            </div>
                            <div class="_left articles-info-text must-reads-info-text">
                                <div class="font-h4 _elipsis _no-wrap"><a class="font-black" ng-href="/#/">Kids in a cashless world</a></div>
                                <div class="font-xs">
                                    Posted by Tom Hartmann
                                    | <a ng-href="/#/">0&nbsp;comments</a>
                                </div>
                            </div>
                        </div>

                        <div class="must-reads-content">
                            <a class="_block _relative" ng-href="/#/" aspect-ratio="16:9">
                                <div class="articles-thumbnail _full-height" cover-image="assets/images/test.jpg"></div>
                            </a>
                            <div class="_elipsis articles-copy">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</div>
                            <a href="/#/" class="ui-link font-sm articles-more">Read More <span class="fa fa-chevron-right font-xs"></span></a>
                        </div>

                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 articles-column" data-index="1">

                        <div class="articles-info _clear" vert-middle="must-reads-info-text" vert-middle-relative="ui-circle">
                            <div class="ui-circle bg-fuschia _left">
                                <div class="ui-circle-inner">
                                    <div class="articles-day">17</div>
                                    <div class="articles-month">Mar 15</div>
                                </div>
                            </div>
                            <div class="_left articles-info-text must-reads-info-text">
                                <div class="font-h4 _elipsis _no-wrap"><a class="font-black" ng-href="/#/">Kids in a cashless world</a></div>
                                <div class="font-xs">
                                    Posted by Tom Hartmann
                                    | <a ng-href="/#/">0&nbsp;comments</a>
                                </div>
                            </div>
                        </div>

                        <div class="must-reads-content">
                            <a class="_block _relative" ng-href="/#/" aspect-ratio="16:9">
                                <div class="articles-thumbnail _full-height" cover-image="assets/images/test.jpg"></div>
                            </a>
                            <div class="_elipsis articles-copy">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</div>
                            <a href="/#/" class="ui-link font-sm articles-more">Read More <span class="fa fa-chevron-right font-xs"></span></a>
                        </div>

                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 articles-column" data-index="2">

                        <div class="articles-info _clear" vert-middle="must-reads-info-text" vert-middle-relative="ui-circle">
                            <div class="ui-circle bg-fuschia _left">
                                <div class="ui-circle-inner">
                                    <div class="articles-day">17</div>
                                    <div class="articles-month">Mar 15</div>
                                </div>
                            </div>
                            <div class="_left articles-info-text must-reads-info-text">
                                <div class="font-h4 _elipsis _no-wrap"><a class="font-black" ng-href="/#/">Kids in a cashless world</a></div>
                                <div class="font-xs">
                                    Posted by Tom Hartmann
                                    | <a ng-href="/#/">0&nbsp;comments</a>
                                </div>
                            </div>
                        </div>

                        <div class="must-reads-content">
                            <a class="_block _relative" ng-href="/#/" aspect-ratio="16:9">
                                <div class="articles-thumbnail _full-height" cover-image="assets/images/test.jpg"></div>
                            </a>
                            <div class="_elipsis articles-copy">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</div>
                            <a href="/#/" class="ui-link font-sm articles-more">Read More <span class="fa fa-chevron-right font-xs"></span></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layout-container">
        <div class="row">
            <div class="col-xs-12">
                <div class="layout-divider"></div>
            </div>
        </div>
    </div>

    <div class="layout-container">
        <div class="layout-content">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="blog-list-heading font-h2 font-light">Latest posts</h2>
                    <div class="layout-divider-dashed-medium blog-list-divider"></div>
                </div>
            </div>
            <div class="row blog-list-row">
                <div class="col-xs-12 articles-column">

                    <div class="articles-info _clear" vert-middle="articles-info-text" vert-middle-relative="ui-circle">
                        <div class="ui-circle bg-fuschia _left">
                            <div class="ui-circle-inner">
                                <div class="articles-day">17</div>
                                <div class="articles-month">Mar 15</div>
                            </div>
                        </div>
                        <div class="_left articles-info-text">
                            <div class="font-h4 _elipsis _no-wrap"><a class="font-black" ng-href="/#/">Kids in a cashless world</a></div>
                            <div class="font-xs">
                                Posted by Tom Hartmann
                                | <a ng-href="/#/">0&nbsp;comments</a>
                            </div>
                        </div>
                    </div>

                    <div class="articles-content blog-list-content">
                        <a class="_block _relative" ng-href="/#/" aspect-ratio="16:9">
                            <div class="articles-thumbnail _full-height" cover-image="assets/images/test.jpg"></div>
                        </a>
                        <div class="_elipsis articles-copy">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</div>
                        <a href="/#/" class="ui-link font-sm articles-more">Read More <span class="fa fa-chevron-right font-xs"></span></a>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="layout-container">
        <div class="row">
            <div class="col-xs-12">
                <div class="layout-divider"></div>
            </div>
        </div>
    </div>

    <div class="layout-container">
        <div class="layout-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="dropdown qs-select _left">
                        <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Select your question
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a ng-href="/#/" class="dropdown-link">Test Question Number One</a></li>
                            <li><a ng-href="/#/" class="dropdown-link">Test Question Number Two</a></li>
                            <li><a ng-href="/#/" class="dropdown-link">Test Question Number Three</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layout-container">
        <div class="row">
            <div class="col-xs-12">
                <div class="layout-divider"></div>
            </div>
        </div>
    </div>

    <div class="layout-container">
        <div class="layout-content">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="font-grey">Filter Articles</h5>

                    <div class="row layout-row filters-row">

                        <div class="col-md-6 visible-xs">
                            <div class="dropdown qs-select _left">
                                <button class="btn btn-default dropdown-toggle form-control" dropdown type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Latest Posts
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a ng-href="/#/" class="dropdown-link">Latest Posts</a></li>
                                    <li><a ng-href="/#/" class="dropdown-link">Planning & Budgeting</a></li>
                                    <li><a ng-href="/#/" class="dropdown-link">Tackling Debt</a></li>
                                    <li><a ng-href="/#/" class="dropdown-link">Home Buying</a></li>
                                    <li><a ng-href="/#/" class="dropdown-link">Protecting Wealth</a></li>
                                    <li><a ng-href="/#/" class="dropdown-link">Kiwisaver & Retirement</a></li>
                                    <li><a ng-href="/#/" class="dropdown-link">Investing & Savings</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-12 layout-col _relative visible-sm visible-md visible-lg">

                            <a href="/#/template" class="filters-link _left _align-center selected">
                                <div class="filters-icon _relative">
                                    <img ng-src="{{siteConfig.APP_PATH}}/assets/images/filters/filters-latest.svg" class="_full-width filters-image _absolute" />
                                </div>
                                <span class="_inline-block font-black font-sm filters-text">Latest Posts</span>
                            </a>

                            <a href="/#/template" class="filters-link _left _align-center">
                                <div class="filters-icon _relative">
                                    <img ng-src="{{siteConfig.APP_PATH}}/assets/images/filters/filters-budgeting.svg" class="_full-width filters-image _absolute" />
                                </div>
                                <span class="_inline-block font-black font-sm filters-text">Planning & Budgeting</span>
                            </a>

                            <a href="/#/template" class="filters-link _left _align-center">
                                <div class="filters-icon _relative">
                                    <img ng-src="{{siteConfig.APP_PATH}}/assets/images/filters/filters-debt.svg" class="_full-width filters-image _absolute" />
                                </div>
                                <span class="_inline-block font-black font-sm filters-text">Tackling Debt</span>
                            </a>

                            <a href="/#/template" class="filters-link _left _align-center">
                                <div class="filters-icon _relative">
                                    <img ng-src="{{siteConfig.APP_PATH}}/assets/images/filters/filters-home.svg" class="_full-width filters-image _absolute" />
                                </div>
                                <span class="_inline-block font-black font-sm filters-text">Home Buying</span>
                            </a>

                            <a href="/#/template" class="filters-link _left _align-center">
                                <div class="filters-icon _relative">
                                    <img ng-src="{{siteConfig.APP_PATH}}/assets/images/filters/filters-protecting.svg" class="_full-width filters-image _absolute" />
                                </div>
                                <span class="_inline-block font-black font-sm filters-text">Protecting Wealth</span>
                            </a>

                            <a href="/#/template" class="filters-link _left _align-center">
                                <div class="filters-icon _relative">
                                    <img ng-src="{{siteConfig.APP_PATH}}/assets/images/filters/filters-kiwisaver.svg" class="_full-width filters-image _absolute" />
                                </div>
                                <span class="_inline-block font-black font-sm filters-text">Kiwisaver & Retirement</span>
                            </a>

                            <a href="/#/template" class="filters-link _left _align-center">
                                <div class="filters-icon _relative">
                                    <img ng-src="{{siteConfig.APP_PATH}}/assets/images/filters/filters-investments.svg" class="_full-width filters-image _absolute" />
                                </div>
                                <span class="_inline-block font-black font-sm filters-text">Investing & Savings</span>
                            </a>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="layout-container">
        <div class="row">
            <div class="col-xs-12">
                <div class="layout-divider"></div>
            </div>
        </div>
    </div>


    <div class="layout-container">
        <div class="layout-content">
            <div class="row">

                <div class="col-md-4 _hidden-sm-below">
                    <div class="bg-grey-lightest sidebar-container">
                        <h5 class="sidebar-heading">Recent comments</h5>

                        <a class="sidebar-link _block _clear" href="/must-reads">

                            <img class="sidebar-thumb _left _block" src="assets/Uploads/blog2.jpg" />
                            <span class="sidebar-text _left _block">
                                <div class="sidebar-link-container _relative">
                                    <div class="sidebar-text-table">
                                        <div class="sidebar-text-cell font-sm font-black">Keep a list, check it twice</div>
                                    </div>
                                </div>
                            </span>

                        </a>
                        <div class="layout-divider-dashed sidebar-divider"></div>
                        <a class="sidebar-link _block _clear" href="/must-reads">

                            <img class="sidebar-thumb _left _block" src="assets/Uploads/blog2.jpg" />
                            <span class="sidebar-text _left _block">
                                <div class="sidebar-link-container _relative">
                                    <div class="sidebar-text-table">
                                        <div class="sidebar-text-cell font-sm font-black">Keep a list, check it twice</div>
                                    </div>
                                </div>
                            </span>

                        </a>
                        <div class="layout-divider-dashed sidebar-divider"></div>
                        <a class="sidebar-link _block _clear" href="/must-reads">

                            <img class="sidebar-thumb _left _block" src="assets/Uploads/blog2.jpg" />
                            <span class="sidebar-text _left _block">
                                <div class="sidebar-link-container _relative">
                                    <div class="sidebar-text-table">
                                        <div class="sidebar-text-cell font-sm font-black">Keep a list, check it twice</div>
                                    </div>
                                </div>
                            </span>

                        </a>
                        <div class="layout-divider-dashed sidebar-divider"></div>
                        <a class="sidebar-link _block _clear" href="/must-reads">

                            <img class="sidebar-thumb _left _block" src="assets/Uploads/blog2.jpg" />
                            <span class="sidebar-text _left _block">
                                <div class="sidebar-link-container _relative">
                                    <div class="sidebar-text-table">
                                        <div class="sidebar-text-cell font-sm font-black">Keep a list, check it twice</div>
                                    </div>
                                </div>
                            </span>

                        </a>
                        <div class="layout-divider-dashed sidebar-divider"></div>
                        <a class="sidebar-link _block _clear" href="/must-reads">

                            <img class="sidebar-thumb _left _block" src="assets/Uploads/blog2.jpg" />
                            <span class="sidebar-text _left _block">
                                <div class="sidebar-link-container _relative">
                                    <div class="sidebar-text-table">
                                        <div class="sidebar-text-cell font-sm font-black">Keep a list, check it twice</div>
                                    </div>
                                </div>
                            </span>

                        </a>
                        <div class="layout-divider-dashed sidebar-divider"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="layout-container">
    <div class="row">
        <div class="col-xs-12">
            <div class="layout-divider"></div>
        </div>
    </div>
</div>
