_ss_environment.php
tools/phing-metadata
silverstripe-cache
.buildpath
.project
.settings
.idea
.DS_Store
reports/
vendor/
angular/node_modules/*
angular/bower_components/*
angular/reports/*
.idea/*
!bower_components/bootstrap-sass-official/
fulltextsearch
.tern-project

!assets/*
