.calc-output-print {
  line-height: 48px;
  margin-right: 20px;
}

.calc-output-container {
  padding: 20px;
}

.calc-output-row {
  margin-bottom: 20px
}

.calc-output-month {
  margin: 0 0 0 10px;
  width: 120px;
  @media(max-width: $screen-xs-max){
    margin: 0 10px 0 0;
  }
}

.calc-output-year {
  margin: 0 0 0 10px;
  width: 120px;
  @media(max-width: $screen-xs-max){
    margin: 0;
  }
}

.calc-output-age {
  .form-control {
    height: 38px;
  }
  .dropdown-menu {
    min-width: 100%;
  }
}

.calc-output-value {
  text-align: right;
  @media(max-width: $screen-xs-max) {
    text-align: left;
  }
}
