<navigation></navigation>
  <intro-header></intro-header>
  <not-logged-in class="font-medium">
    Already got a budget? <a class="not-logged-in-link" 
      data-toggle="modal" 
      data-target="#login-modal">Log in here &gt;</a>
  </not-logged-in>

  <div class="layout-container">
    <div class="row">
      <div class="budget-amount-form-container col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <budget-amount-form></budget-amount-form>
      </div>
    </div>
  </div>

  <div class="create-a-budget bg-green-gradient _relative">
  <div class="_full-height-xs-above _relative"> 
  <div class="layout-container">

    <div class="row _relative _full-height-xs-above">

      <div class="layout-col col-sm-4 _relative _full-height-xs-above">

        <div class="row text-center">
          <div class="col-xs-10 col-xs-offset-1">
            <h2>Create a budget that keeps pace with your lifestyle</h2>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-xs-10 col-xs-offset-1">
            <p class="font-light">The quick and easy way to keep track of your spending.</p>
          </div>
        </div>

      </div>

      <div class="layout-col col-sm-8 _relative _full-height-xs-above">
        <div class="device-image-container">
          <img class="img-responsive" ng-src="{{siteConfig.APP_PATH}}assets/images/DEVICES.png">
        </div>
      </div>

    </div>

  </div>
  </div>
  </div>
<footer></footer>
