<div class="calc-input-money {{field.id}}">
  <label class="font-sm" tabindex="-100" ng-if="field.label">
    {{field.label}}
    <popover ng-show="field.tooltip">
      <button
        class="fa fa-question-circle font-md font-grey-medium-light _no-border"
        data-html="true"
        data-toggle="popover"  data-trigger="focus"
        data-placement="top"
        data-content="{{field.tooltip}}" tabindex="-100">
      </button>
    </popover>
  </label>
  <div class="input-group form-inline-addon form-addon-dollar">
    <input type="text"
           no-commas
           id="{{field.id}}"
           name="{{field.id}}"
           autocomplete="off"
           class="form-control font-md"
           data-related="{{field.related}}"
           ng-model="model.$attributes[field.calcModel]"
           ng-model-options="{updateOn: 'blur', getterSetter: true }"
           maxlength="10"
           ng-enter="doBlur($event)">
    <div class="form-error calc-input-error"
         ng-show="$parent[form][field.id].$error.money || $parent[form][field.id].$error.minamount || $parent[form][field.id].$error.maxamount">
      {{validation.message}}
    </div>

  </div>

  <!--<span class="font-xx">No commas or decimals, please.</span>-->

  <a ng-if="field.link" ng-href="{{field.link.url}}" class="font-xx" tabindex="-99" target="_blank">{{field.link.text}}</a>
</div>
